p{
    font-size:larger;
    font-weight: bolder;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;  
}
pre{
    font-size:larger;
    font-style: normal;
    font-family: sans-serif;
}